In [2]:
import pathlib, sys
import pandas as pd
import numpy as np
from pathlib import Path

DIR_RAIZ = Path.cwd().parent 
if str(DIR_RAIZ) not in sys.path: 
    sys.path.append(str(DIR_RAIZ)) 

from src import soporte as sp 

pd.options.display.float_format = "{:,.2f}".format 
pd.set_option('display.max_columns', None) 

%load_ext autoreload
%autoreload 2

In [ ]:
raiz_proyecto = Path.cwd().parent          
carpeta_interm = raiz_proyecto / "data" / "interm"
ruta_archivo =  carpeta_interm / "Amazon_Sale_Report.parquet"

df_amz_sale_Report = pd.read_parquet(ruta_archivo) 
df_amz_sale_Report.head()

,index,order_id,date,status,fulfilment,sales_channel,ship_service_level,style,sku,category,size,asin,courier_status,qty,currency,amount,ship_city,ship_state,ship_postal_code,ship_country,promotion_ids,b2b,fulfilled_by,unnamed:_22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,None,0,INR,647.62,MUMBAI,MAHARASHTRA,"400,081.00",IN,None,False,Easy Ship,None
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,"560,085.00",IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,None
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,"410,210.00",IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,None,None
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,None,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,"605,008.00",IN,None,False,Easy Ship,None
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,"600,073.00",IN,None,False,None,None

In [10]:
df_amz_sale_Report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   order_id            128975 non-null  object
 2   date                128975 non-null  object
 3   status              128975 non-null  object
 4   fulfilment          128975 non-null  object
 5   sales_channel       128975 non-null  object
 6   ship_service_level  128975 non-null  object
 7   style               128975 non-null  object
 8   sku                 128975 non-null  object
 9   category            128975 non-null  object
 10  size                128975 non-null  object
 11  asin                128975 non-null  object
 12  courier_status      122103 non-null  object
 13  qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  amount              121180 non-null  float64
 16  ship_city           128942 non-null  object
 17  ship_state          128942 non-null  object
 18  ship_postal_code    128942 non-null  float64
 19  ship_country        128942 non-null  object
 20  promotion_ids       79822 non-null   object
 21  b2b                 128975 non-null  bool
 22  fulfilled_by        39277 non-null   object
 23  unnamed:_22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

In [8]:
sp.nulos_df(df_amz_sale_Report, True)

                    Nulos  % Nulos
fulfilled_by        89698    69.55
promotion_ids       49153    38.11
unnamed:_22         49050    38.03
currency             7795     6.04
amount               7795     6.04
courier_status       6872     5.33
ship_country           33     0.03
ship_city              33     0.03
ship_state             33     0.03
ship_postal_code       33     0.03
sales_channel           0     0.00
fulfilment              0     0.00
status                  0     0.00
date                    0     0.00
order_id                0     0.00
index                   0     0.00
style                   0     0.00
ship_service_level      0     0.00
qty                     0     0.00
asin                    0     0.00
sku                     0     0.00
category                0     0.00
size                    0     0.00
b2b                     0     0.00