In [ ]:
import pathlib, sys
import pandas as pd
import numpy as np
from pathlib import Path

DIR_RAIZ = Path.cwd().parent 
if str(DIR_RAIZ) not in sys.path: 
    sys.path.append(str(DIR_RAIZ)) 

from src import soporte as sp 

pd.options.display.float_format = "{:,.2f}".format 
pd.set_option('display.max_columns', None) 

%load_ext autoreload
%autoreload 2

In [ ]:
raiz_proyecto = Path.cwd().parent          
carpeta_interm = raiz_proyecto / "data" / "interm"
ruta_archivo =  carpeta_interm / "Amazon_Sale_Report.parquet"

df_amz_sale_report = pd.read_parquet(ruta_archivo) 
df_amz_sale_report.head()

,index,order_id,date,status,fulfilment,sales_channel,ship_service_level,style,sku,category,size,asin,courier_status,qty,currency,amount,ship_city,ship_state,ship_postal_code,ship_country,promotion_ids,b2b,fulfilled_by,unnamed:_22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,None,0,INR,647.62,MUMBAI,MAHARASHTRA,"400,081.00",IN,None,False,Easy Ship,None
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,"560,085.00",IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,None
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,"410,210.00",IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,None,None
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,None,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,"605,008.00",IN,None,False,Easy Ship,None
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,"600,073.00",IN,None,False,None,None

In [ ]:
display(sp.resumen_df(df_amz_sale_report))

,Columna,Tipo,Total_Valores,Valores_Unicos,%_Nulos,Duplicados
0,index,int64,128975,128975,0.00,0
1,order_id,object,128975,120378,0.00,8597
2,date,object,128975,91,0.00,128884
3,status,object,128975,13,0.00,128962
4,fulfilment,object,128975,2,0.00,128973
5,sales_channel,object,128975,2,0.00,128973
6,ship_service_level,object,128975,2,0.00,128973
7,style,object,128975,1377,0.00,127598
8,sku,object,128975,7195,0.00,121780
9,category,object,128975,9,0.00,128966
10,size,object,128975,11,0.00,128964
11,asin,object,128975,7190,0.00,121785
12,courier_status,object,128975,3,5.33,128971
13,qty,int64,128975,10,0.00,128965
14,currency,object,128975,1,6.04,128973
15,amount,float64,128975,1410,6.04,127564
16,ship_city,object,128975,8955,0.03,120019
17,ship_state,object,128975,69,0.03,128905
18,ship_postal_code,float64,128975,9459,0.03,119515
19,ship_country,object,128975,1,0.03,128973
20,promotion_ids,object,128975,5787,38.11,123187
21,b2b,bool,128975,2,0.00,128973
22,fulfilled_by,object,128975,1,69.55,128973
23,unnamed:_22,object,128975,1,38.03,128973

In [ ]:
for c in df_amz_sale_report.columns:
    sp.limpiar_columna_texto(df_amz_sale_report, c, col_no_cambiar=["style", "sku"])

[autoreload of src.soporte failed: Traceback (most recent call last):
  File "c:\Users\victo\Desktop\DATA_RETAIL\.venv\Lib\site-packages\IPython\extensions\autoreload.py", line 322, in check
    elif self.deduper_reloader.maybe_reload_module(m):
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\victo\Desktop\DATA_RETAIL\.venv\Lib\site-packages\IPython\extensions\deduperreload\deduperreload.py", line 545, in maybe_reload_module
    new_source_code = f.read()
                      ^^^^^^^^
  File "C:\Users\victo\AppData\Local\Programs\Python\Python312\Lib\encodings\cp1252.py", line 23, in decode
    return codecs.charmap_decode(input,self.errors,decoding_table)[0]
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 9571: character maps to <undefined>
]

UnboundLocalError: cannot access local variable 'original' where it is not associated with a value

In [ ]:
df_amz_sale_report

,index,order_id,date,status,fulfilment,sales_channel,ship_service_level,style,sku,category,size,asin,courier_status,qty,currency,amount,ship_city,ship_state,ship_postal_code,ship_country,promotion_ids,b2b,fulfilled_by,unnamed:_22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazonin,Standard,Set389,Set389-kr-np-s,Set,S,B09kxvbd7z,None,0,Inr,64762,Mumbai,Maharashtra,4000810,In,None,False,Easy ship,None
1,1,171-9198151-1101146,04-30-22,Shipped - delivered to buyer,Merchant,Amazonin,Standard,Jne3781,Jne3781-kr-xxxl,Kurta,3xl,B09k3wfs32,Shipped,1,Inr,4060,Bengaluru,Karnataka,5600850,In,Amazon plcc free-financing universal merchant ...,False,Easy ship,None
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazonin,Expedited,Jne3371,Jne3371-kr-xl,Kurta,Xl,B07wv4jv4d,Shipped,1,Inr,3290,Navi mumbai,Maharashtra,4102100,In,In core free shipping 2015/04/08 23-48-5-108,True,None,None
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazonin,Standard,J0341,J0341-dr-l,Western dress,L,B099nrct7b,None,0,Inr,75333,Puducherry,Puducherry,6050080,In,None,False,Easy ship,None
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazonin,Expedited,Jne3671,Jne3671-tu-xxxl,Top,3xl,B098714bzp,Shipped,1,Inr,5740,Chennai,Tamil nadu,6000730,In,None,False,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazonin,Expedited,Jne3697,Jne3697-kr-xl,Kurta,Xl,B098112v2v,Shipped,1,Inr,5170,Hyderabad,Telangana,5000130,In,None,False,None,False
128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazonin,Expedited,Set401,Set401-kr-np-m,Set,M,B09vc6khx8,Shipped,1,Inr,9990,Gurugram,Haryana,1220040,In,In core free shipping 2015/04/08 23-48-5-108,False,None,False
128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazonin,Expedited,J0157,J0157-dr-xxl,Western dress,Xxl,B0982yz51b,Shipped,1,Inr,6900,Hyderabad,Telangana,5000490,In,None,False,None,False
128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazonin,Expedited,J0012,J0012-skd-xs,Set,Xs,B0894y2njq,Shipped,1,Inr,11990,Halol,Gujarat,3893500,In,In core free shipping 2015/04/08 23-48-5-108,False,None,False
128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazonin,Expedited,J0003,J0003-set-s,Set,S,B0894x27fc,Shipped,1,Inr,6960,Raipur,Chhattisgarh,4920140,In,In core free shipping 2015/04/08 23-48-5-108,False,None,False

In [ ]:
df_amz_sale_report.describe().T

                     count  unique                  top    freq
index               128975  128975                    0       1
order_id            128975  120378  171-5057375-2831560      12
date                128975      91             05-03-22    2085
status              128975      13              Shipped   77804
fulfilment          128975       2               Amazon   89698
sales_channel       128975       2             Amazonin  128851
ship_service_level  128975       2            Expedited   88615
style               128975    1377              Jne3797    4224
sku                 128975    7195         Jne3797-kr-l     773
category            128975       9                  Set   50284
size                128975      11                    M   22711
asin                128975    7190           B09sdxffq1     773
courier_status      128975       4              Shipped  109487
qty                 128975      10                    1  115780
currency            128975       2                  Inr  121180
amount              128975    1411                  Nan    7795
ship_city           128975    7265            Bengaluru   11900
ship_state          128975      48          Maharashtra   22260
ship_postal_code    128975    9460              2013010    1006
ship_country        128975       2                   In  128942
promotion_ids       128975    5788                 None   49153
b2b                 128975       2                False  128104
fulfilled_by        128975       2                 None   89698
unnamed:_22         128975       2                False   79925

In [ ]:
df_amz_sale_report.describe(include="O").T

                     count  unique                  top    freq
index               128975  128975                    0       1
order_id            128975  120378  171-5057375-2831560      12
date                128975      91             05-03-22    2085
status              128975      13              Shipped   77804
fulfilment          128975       2               Amazon   89698
sales_channel       128975       2             Amazonin  128851
ship_service_level  128975       2            Expedited   88615
style               128975    1377              Jne3797    4224
sku                 128975    7195         Jne3797-kr-l     773
category            128975       9                  Set   50284
size                128975      11                    M   22711
asin                128975    7190           B09sdxffq1     773
courier_status      128975       4              Shipped  109487
qty                 128975      10                    1  115780
currency            128975       2                  Inr  121180
amount              128975    1411                  Nan    7795
ship_city           128975    7265            Bengaluru   11900
ship_state          128975      48          Maharashtra   22260
ship_postal_code    128975    9460              2013010    1006
ship_country        128975       2                   In  128942
promotion_ids       128975    5788                 None   49153
b2b                 128975       2                False  128104
fulfilled_by        128975       2                 None   89698
unnamed:_22         128975       2                False   79925

In [ ]:
display(sp.resumen_df(df_amz_sale_report))

,Columna,Tipo,Total_Valores,Valores_Unicos,%_Nulos,Duplicados
0,index,object,128975,128975,0.00,0
1,order_id,object,128975,120378,0.00,8597
2,date,object,128975,91,0.00,128884
3,status,object,128975,13,0.00,128962
4,fulfilment,object,128975,2,0.00,128973
5,sales_channel,object,128975,2,0.00,128973
6,ship_service_level,object,128975,2,0.00,128973
7,style,object,128975,1377,0.00,127598
8,sku,object,128975,7195,0.00,121780
9,category,object,128975,9,0.00,128966
10,size,object,128975,11,0.00,128964
11,asin,object,128975,7190,0.00,121785
12,courier_status,object,128975,4,0.00,128971
13,qty,object,128975,10,0.00,128965
14,currency,object,128975,2,0.00,128973
15,amount,object,128975,1411,0.00,127564
16,ship_city,object,128975,7265,0.00,121710
17,ship_state,object,128975,48,0.00,128927
18,ship_postal_code,object,128975,9460,0.00,119515
19,ship_country,object,128975,2,0.00,128973
20,promotion_ids,object,128975,5788,0.00,123187
21,b2b,object,128975,2,0.00,128973
22,fulfilled_by,object,128975,2,0.00,128973
23,unnamed:_22,object,128975,2,0.00,128973

In [ ]:
df_amz_sale_report.drop(columns=["unnamed:_22", "fulfilled_by", "promotion_ids", "index", "currency", "asin", "ship_country"], inplace = True)