In [1]:
import pathlib, sys
import pandas as pd
from pathlib import Path

DIR_RAIZ = Path.cwd().parent # subir 1 nivel desde Actual Working Directori (cwd)

if str(DIR_RAIZ) not in sys.path: # si el directorio raiz no está en sys.path
    sys.path.append(str(DIR_RAIZ)) # agrega el directorio raiz a sys.path para que se pueda importar soporte.py

from src import soporte as sp # importa src/soporte.py

pd.options.display.float_format = "{:,.2f}".format # Formato de impresión para floats (sólo estética)
pd.set_option('display.max_columns', None) # muestra todas las columnas

# # Autoreload para reflejar cambios en soporte.py sin reiniciar kernel
%load_ext autoreload
%autoreload 2

In [ ]:
# Ruta a los CSV 
DIR_DATA_RAW = DIR_RAIZ / "data" / "raw" # Con pathlib no se concatenan rutas con +. Se unen con el operador / (o con joinpath).
DIR_DATA_RAW.resolve() # muestra la ruta absoluta

df_list = sp.cargar_df_list_desde_directorio_csv(DIR_DATA_RAW) 

# Con detalles de rutas. encodings y separadores
# df_list, csv_paths, encs, seps = sp.cargar_df_list_desde_directorio_csv(DIR_DATA_RAW, devolver_detalle=True)

WindowsPath('C:/Users/victo/Desktop/DATA_RETAIL/data/raw')

In [6]:
df_list_norm = sp.normalizar_columnas_df_list(df_list)

[INFO] Normalizadas columnas en DF 0:
   -   'Order ID' -> 'order_id'
   -   'Date' -> 'date'
   -   'Status' -> 'status'
   -   'Fulfilment' -> 'fulfilment'
   -   'Sales Channel ' -> 'sales_channel'
   -   'ship-service-level' -> 'ship_service_level'
   -   'Style' -> 'style'
   -   'SKU' -> 'sku'
   -   'Category' -> 'category'
   -   'Size' -> 'size'
   -   'ASIN' -> 'asin'
   -   'Courier Status' -> 'courier_status'
   -   'Qty' -> 'qty'
   -   'Amount' -> 'amount'
   -   'ship-city' -> 'ship_city'
   -   'ship-state' -> 'ship_state'
   -   'ship-postal-code' -> 'ship_postal_code'
   -   'ship-country' -> 'ship_country'
   -   'promotion-ids' -> 'promotion_ids'
   -   'B2B' -> 'b2b'
   -   'fulfilled-by' -> 'fulfilled_by'
   -   'Unnamed: 22' -> 'unnamed:_22'
[INFO] Normalizadas columnas en DF 1:
   -   'DATE' -> 'date'
   -   'Months' -> 'months'
   -   'CUSTOMER' -> 'customer'
   -   'Style' -> 'style'
   -   'SKU' -> 'sku'
   -   'Size' -> 'size'
   -   'PCS' -> 'pcs'
   -   'RATE' -> 'rate'
   -   'GROSS AMT' -> 'gross_amt'
[INFO] Normalizadas columnas en DF 2:
   -   'SKU Code' -> 'sku_code'
   -   'Design No.' -> 'design_no.'
   -   'Stock' -> 'stock'
   -   'Category' -> 'category'
   -   'Size' -> 'size'
   -   'Color' -> 'color'

In [7]:
df_1 = df_list_norm[0].copy()    # copia del primer dataframe normalizado
df_1

,index,order_id,date,status,fulfilment,sales_channel,ship_service_level,style,sku,category,size,asin,courier_status,qty,currency,amount,ship_city,ship_state,ship_postal_code,ship_country,promotion_ids,b2b,fulfilled_by,unnamed:_22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,NaN,0,INR,647.62,MUMBAI,MAHARASHTRA,"400,081.00",IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,"560,085.00",IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,"410,210.00",IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,NaN,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,"605,008.00",IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,"600,073.00",IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,XL,B098112V2V,Shipped,1,INR,517.00,HYDERABAD,TELANGANA,"500,013.00",IN,NaN,False,NaN,False
128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,M,B09VC6KHX8,Shipped,1,INR,999.00,GURUGRAM,HARYANA,"122,004.00",IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,XXL,B0982YZ51B,Shipped,1,INR,690.00,HYDERABAD,TELANGANA,"500,049.00",IN,NaN,False,NaN,False
128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,XS,B0894Y2NJQ,Shipped,1,INR,"1,199.00",Halol,Gujarat,"389,350.00",IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,S,B0894X27FC,Shipped,1,INR,696.00,Raipur,CHHATTISGARH,"492,014.00",IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

In [8]:
df_2 = df_list_norm[1].copy()    # copia del segundo dataframe normalizado
df_2

,index,date,months,customer,style,sku,size,pcs,rate,gross_amt
0,0,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-L,L,1.00,616.56,617.00
1,1,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XL,XL,1.00,616.56,617.00
2,2,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XXL,XXL,1.00,616.56,617.00
3,3,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5009,MEN5009-KR-L,L,1.00,616.56,617.00
4,4,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5011,MEN5011-KR-L,L,1.00,616.56,617.00
...,...,...,...,...,...,...,...,...,...,...
37427,37427,AVIN,03-31-22,Mar-22,PJNE3423,PJNE3423-KR-4XL,1.00,537.50,538.00,4.00
37428,37428,AVIN,03-31-22,Mar-22,PJNE3404,PJNE3404-KR-4XL,1.00,500.00,500.00,5.00
37429,37429,AVIN,03-31-22,Mar-22,PJNE3423,PJNE3423-KR-4XL,1.00,537.50,538.00,4.00
37430,37430,AVIN,03-31-22,Mar-22,SET290,SET290-KR-DPT-M,1.00,812.50,812.00,7.00
37431,37431,AVIN,03-31-22,Mar-22,SHIPPING,SHIPPING,1.00,3666.00,3666.00,0.00

In [9]:
df_3 = df_list_norm[2].copy()    
df_3

      index       sku_code design_no.  stock       category size color
0         0    AN201-RED-L      AN201   5.00  AN : LEGGINGS    L   Red
1         1    AN201-RED-M      AN201   5.00  AN : LEGGINGS    M   Red
2         2    AN201-RED-S      AN201   3.00  AN : LEGGINGS    S   Red
3         3   AN201-RED-XL      AN201   6.00  AN : LEGGINGS   XL   Red
4         4  AN201-RED-XXL      AN201   3.00  AN : LEGGINGS  XXL   Red
...     ...            ...        ...    ...            ...  ...   ...
9266   9266            NaN        NaN    NaN            NaN  NaN   NaN
9267   9267            NaN        NaN    NaN            NaN  NaN   NaN
9268   9268            NaN        NaN    NaN            NaN  NaN   NaN
9269   9269            NaN        NaN    NaN            NaN  NaN   NaN
9270   9270            NaN        NaN    NaN            NaN  NaN   NaN

[9271 rows x 7 columns]